body{
  background:#000;
  color:#bbeedd;
  font-sise:14px;
  font-family:verdana;
  padding:0px;
  margin:0px;
  border:0px;
  text-align:center;
}

#screen{
  margin-top:20px;
  background:#222;
}

#formParameters{
  margin-top:20px;
}

#screen{
  width:calc(100% - 40px);
  height:calc(100vh - 80px);
}